/* Dark and Light mode detection from Davy de Vries. https://stackoverflow.com/questions/50840168/how-to-detect-if-the-os-is-in-dark-mode-in-browsers */
/* @media (prefers-color-scheme: light) {
    body {
        background-color: #FFFEE5;
        color: #393939;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #393939;
        color: #FFFEE5;
    }
} */
body {
    width: 300px;
    margin: 10px;
}
button:focus {
    outline: none;
}
button {
    border: none;
}
#toggle-button-box {
    margin: -10px;
}
.toggle {
    margin: 16px 0px;
    padding: 5px 12px;
    width: 50%;
    text-align: center;
}

#single-line-btn {
    background-color: #F1D302;
    float: left;
}
#dual-line-btn {
    background: none;
    float: right;
}

#single-line {
    display: inherit;
}

#dual-line {
    display: none;
}

.slider-container {
    display: grid;
}

.minus-btn {
    grid-column: 1 / 2;
    width: auto;
}

.slider {
    grid-column: 2 / 3;
    justify-self: right;
}

.plus-btn {
    grid-column: 3 / 4;
    width: auto;
}