  


/* Dark and Light mode detection from Davy de Vries. https://stackoverflow.com/questions/50840168/how-to-detect-if-the-os-is-in-dark-mode-in-browsers */
@media (prefers-color-scheme: light) {
    body {
        background-color: #FFFEE5;
        color: #393939;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #393939;
        color: #FFFEE5;
    }
}